$font-size-14:0.875rem;
$font-size-16:1rem;
$font-size-18:1.125rem;
$font-size-20:1.25rem;
$font-size-24:1.5rem;
$font-size-26:1.625rem;
$font-size-30:1.875rem;

$font-weight-m:500;
$font-weight-sb:600;
$font-weight-b:700;

$color-point:#FF558F;
$color-white:#fff;
$color-black-01:#222;
$color-black-02:#333;
$color-black-04:#666;
$color-black-03:#6E6E6E;
$color-gray-01:#f2f2f2;
$color-gray-02:#777;
$color-gray-03:#f6f6f6;

@mixin check-red {border: 2px solid red;}
@mixin check-grn {border: 2px solid green;}
@mixin check-blu {border: 2px solid blue;}
@mixin check-sal {border: 5px solid salmon;}

@mixin dis-non {display: none;}

@mixin row {display: flex; flex-flow:row nowrap; align-items: center;}
@mixin col {display: flex; flex-flow:column nowrap; align-items: center; }
@mixin padding30 {padding: 0 30px;}
@mixin whtie-bg {display: block; content: ''; width: 100%; position: absolute; top: 0; left: 0; background-color: #fff;}
@mixin after-set {display: block; width: 100%; content: ''; top: 0; left: 0; position: absolute;}
@mixin btn-style {display: flex; flex-flow: row nowrap; align-items: center; gap:5px; padding: 10px 15px; border-radius: 60px;}