//index

@use './common.scss' as *;

body {background-color:$color-gray-01;}

/* 상단 배너 */
#top_bnr {
    background-color:$color-black-01;
    max-width: 100%;
    a{
        @include row; justify-content:space-between;
        padding: 10px 50px;
        button {
            img{}
        }
        p{
            color:$color-white;
        }
    }
}

/* 헤더 */
header {
    width: 100%;
    @include row; justify-content: space-between;
    padding: 0 150px;
    height: 60px;
    /* 로고 */
    h1 {
        a {
            width: 100%;
            img {
                width: 120px;
                height: 17px;
            }
        }
    }
    /* 카테고리 */
    .gnb {
        ul {
            @include row; gap:50px;
            font-size:$font-size-16;
            font-weight:$font-weight-m;
            li {
                
                .lnb {@include dis-non;}
            }
        }
    }
    /* 오른쪽 메뉴 */
    .right_menu {
        @include row; gap: 30px;;
        /* 아이콘 메뉴들 */
        .sub {
            button {
                img {}
            }
            .search_box { 
                @include dis-non;
                /* 검색 바 */
                .search_bar{}
                /* 검색 이력 */
                .search_history{}
            }
        }
        .language {
            

            /* 선택됨 */
            .selected {
                @include row;
                span {}
                img {}
            }
            /* 옵션들 */
            .select {
                @include dis-non;
                .options {}
            }
        }
    }
}

main {
    .row {}
    /* --------------------------배너 */
    #banner {
        background-color:$color-white;
        #event_add {
            padding: 30px 50px;

            .swiper-wrapper {
                width: 1600px;
                height: 736px;
                .evt_add {
                    @include row; gap:60px;
                    .bnr_img {

                        display: block;
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-position: center;
                        border-radius: 20px;
                        overflow: hidden;
                    }
                    .bnr_info {

                        @include col; gap:100px; align-items: flex-start;
                        padding-bottom: 120px;
                        dl {
                            .event_type {
                                font-size:$font-size-16;
                                color:$color-black-02;
                                font-weight:$font-weight-m;
                                padding-bottom: 15px;
                            }
                            .artist {
                                font-size:$font-size-26;
                                color:$color-black-03;
                                font-weight:$font-weight-m;
                                padding-bottom: 12px;
                            }
                            .event_title {
                                font-size:$font-size-26;
                                color:$color-black-01;
                                font-weight:$font-weight-m;
                                padding-bottom: 15px;
                            }
                            .date {
                                font-size:$font-size-16;
                                color:$color-gray-02;
                            }
                        }
                        .andmore_btn {
                            @include btn-style;
                            background:$color-black-02;
                            color:$color-white;

                            img {
                                width: 12px;
                                height: 12px;
                            }
                        } 
                    }
                    
                }
                .evt1 {
                    .bnr_img {
                        background-image: url(../images/banner_yves.jpg);
                    }
                }
                .evt2 {
                    .bnr_img {
                        background-image: url(../images/banner_bnd.jpg);
                    }
                }
                .evt3 {
                    .bnr_img  {
                        background-image: url(../images/banner_ifeye.jpg);
                    }
                }
                .evt4 {
                    .bnr_img  {
                        background-image: url(../images/banner_lucy.jpg);
                    }
                }
            }
            .swiper-slide-prev ,
            .swiper-slide-next {
                opacity: 0.2;
                .bnr_info {
                    display: none !important;
                }
            }
            .swiper-slide-active {
                
                .bnr_img {
                    width: 78% !important;
                }
                
            }

            .add_btn {
                background: $color-white;
                position: absolute;
                z-index: 100;
                width: 124px; height: 74px; 
                right: 28%; bottom: 30px;
                border-top-left-radius:20px;
                span {
                    &::after {
                        display: block;
                        content: '';
                        position:relative;
                        top: 42%; left: 63%;
                        opacity: 0.7;
                        background: $color-gray-02;
                        width: 1.5px; height: 25%;
                    }
                }
                .swiper-button-prev,
                .swiper-button-next {
                    transform: translateY(90%);
                    width: 10px; height: 18px;
                    background: $color-white;
                    color:$color-gray-02;
                    margin-left: 40px;
                    margin-right: 10px;
                }
            }
            .swiper-pagination {
                width: 56px; height: 26px;
                top:73.5%; left: 86.5%;
                transform: translate(-50%,-50%);
                background: $color-gray-03;
                border-radius: 20px;
                @include row;
                justify-content: center;
                gap:5px;
                &::before {
                    display: block;
                    width: 10%; height: 100%;
                    position: absolute;
                    top:0; left: 46%;
                    background: $color-gray-03;
                    content: "";}
                    
                .swiper-pagination-current {
                    color:$color-black-04;
                    &::after {
                    display: block;
                    width: 10%; height: 100%;
                    position: absolute;
                    top:26%; left: 46%;
                    color:$color-black-04;
                    opacity: 0.5;
                    content: "/";}
                }
                .swiper-pagination-total {
                    color:$color-black-04;
                    opacity: 0.5;
                }
            }
        }
    }
    /* --------------------------신제품 */
    #new {}
    /* --------------------------인기상품 */
    #hot {}
    /* --------------------------토스광고 */
    #add {}
    /* --------------------------이벤트 */
    #event {}
    /* --------------------------인스타, 공지 */
    #sns_news{}
}