//index

@use './common.scss' as *;

body {background-color:$color-gray-01;}

/* 상단 배너 */
#top_bnr {
    background-color:$color-black-01;
    max-width: 100%;
    a{
        @include row; justify-content:space-between;
        padding: 10px 50px;
        button {
            img{}
        }
        p{
            color:$color-white;
        }
    }
}

/* 헤더 */
header {
    width: 100%;
    @include row; justify-content: space-between;
    padding: 0 150px;
    height: 60px;
    /* 로고 */
    h1 {
        a {
            width: 100%;
            img {
                width: 120px;
                height: 17px;
            }
        }
    }
    /* 카테고리 */
    .gnb {
        ul {
            @include row; gap:50px;
            font-size:$font-size-16;
            font-weight:$font-weight-m;
            li {
                
                .lnb {@include dis-non;}
            }
        }
    }
    /* 오른쪽 메뉴 */
    .right_menu {
        @include row; gap: 30px;;
        /* 아이콘 메뉴들 */
        .sub {
            button {
                img {}
            }
            .search_box { 
                @include dis-non;
                /* 검색 바 */
                .search_bar{}
                /* 검색 이력 */
                .search_history{}
            }
        }
        .language {
            

            /* 선택됨 */
            .selected {
                @include row;
                span {}
                img {}
            }
            
        }
    }/* 옵션들 */
            .select {
                @include dis-non;
                .options {}
            }
}

main {
    .item * {
        font-size:$font-size-16;
        font-weight:$font-weight-m;
    }
    .item {
        .item_artist {
            font-weight:$font-weight-sb ;
            color:$color-gray-05;
            padding-bottom: 5px;
            padding-top: 5px;
        }
        .item_title {
            padding-bottom: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .item_discount_rate {
            font-weight:$font-weight-sb;
            color:$color-point;
        }
        .item_price {}
        .item_ori_price {
            font-size:$font-size-14;
            opacity: 0.5;
        }
        .pre_order_title {
            text-align: right;
            color : $color-point-02;
            padding-top: 10px;
            padding-right: 10px;
            font-size:$font-size-14;
        }
    }
    .row {
        .menu_title {
            h2 {
                font-size:$font-size-26;
                font-weight:$font-weight-m;
            }
            .sub_title {
                font-size:$font-size-16;
                font-weight:$font-weight-m;
                opacity:0.5;
            }
        }
        .andmore_btn {
            &:hover {
                animation: andmore-btn-ani 0.5s ease both;
                border: 1px solid #333;
                span {color:$color-white;}
                svg {fill:$color-white;}
            }
            @include btn-style;
            border: 1px solid #BCBCBC;
            width: max-content;
            span {
                color:$color-black-02;
            }
            svg {fill:#333;}
        }
        .item_list {
            ul {
                @include row;
                gap:25px;
                li {
                    opacity: 0.5;
                    font-size:$font-size-18;
                    cursor: pointer;
                }
            }
        }
    }
    /* --------------------------배너 */
    #banner {
        background-color:$color-white;
        #event_add {
            padding: 30px 50px;

            .swiper-wrapper {
                width: 1600px;
                height: 736px;
                .evt_add {
                    @include row; gap:60px;
                    .bnr_img {

                        display: block;
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-position: center;
                        border-radius: 20px;
                        overflow: hidden;
                    }
                    .bnr_info {

                        @include col; gap:100px; align-items: flex-start;
                        padding-bottom: 120px;
                        dl {
                            .event_type {
                                font-size:$font-size-16;
                                color:$color-black-02;
                                font-weight:$font-weight-m;
                                padding-bottom: 15px;
                            }
                            .artist {
                                font-size:$font-size-26;
                                color:$color-black-03;
                                font-weight:$font-weight-m;
                                padding-bottom: 12px;
                            }
                            .event_title {
                                font-size:$font-size-26;
                                color:$color-black-01;
                                font-weight:$font-weight-m;
                                padding-bottom: 15px;
                            }
                            .date {
                                font-size:$font-size-16;
                                color:$color-gray-02;
                            }
                        }
                        .andmore_btn {
                            @include btn-style;
                            background:$color-black-02;
                            color:$color-white;
                            border: 0px solid #BCBCBC;
                            img {
                                width: 12px;
                                height: 12px;
                            }
                        } 
                    }
                    
                }
                .evt1 {
                    .bnr_img {
                        background-image: url(../images/banner_yves.jpg);
                    }
                }
                .evt2 {
                    .bnr_img {
                        background-image: url(../images/banner_bnd.jpg);
                    }
                }
                .evt3 {
                    .bnr_img  {
                        background-image: url(../images/banner_ifeye.jpg);
                    }
                }
                .evt4 {
                    .bnr_img  {
                        background-image: url(../images/banner_lucy.jpg);
                    }
                }
            }
            .swiper-slide-prev ,
            .swiper-slide-next {
                opacity: 0.2;
                .bnr_info {
                    display: none !important;
                }
            }
            .swiper-slide-active {
                
                .bnr_img {
                    width: 78% !important;
                }
                
            }

            .add_btn {
                background: $color-white;
                position: absolute;
                z-index: 100;
                width: 124px; height: 74px; 
                right: 28%; bottom: 30px;
                border-top-left-radius:20px;
                span {
                    &::after {
                        display: block;
                        content: '';
                        position:relative;
                        top: 42%; left: 63%;
                        opacity: 0.7;
                        background: $color-gray-02;
                        width: 1.5px; height: 25%;
                    }
                }
                .swiper-button-prev,
                .swiper-button-next {
                    transform: translateY(90%);
                    width: 10px; height: 18px;
                    background: $color-white;
                    color:$color-gray-02;
                    margin-left: 40px;
                    margin-right: 10px;
                }
            }
            .swiper-pagination {
                width: 56px; height: 26px;
                top:73.5%; left: 86.5%;
                transform: translate(-50%,-50%);
                background: $color-gray-03;
                border-radius: 20px;
                @include row;
                justify-content: center;
                gap:5px;
                &::before {
                    display: block;
                    width: 10%; height: 100%;
                    position: absolute;
                    top:0; left: 46%;
                    background: $color-gray-03;
                    content: "";}
                    
                .swiper-pagination-current {
                    color:$color-black-04;
                    &::after {
                    display: block;
                    width: 10%; height: 100%;
                    position: absolute;
                    top:26%; left: 46%;
                    color:$color-black-04;
                    opacity: 0.5;
                    content: "/";}
                }
                .swiper-pagination-total {
                    color:$color-black-04;
                    opacity: 0.5;
                }
            }
        }
    }
    /* --------------------------신제품 */
    #new {
        padding: 0 70px;
        .item_list {
            padding-top: 120px;
            @include col; align-items: flex-end;
            padding-bottom: 20px;
        }
        .title_slide {
            @include row;
            gap:42px;
            align-items: flex-start;
            .menu_title {
                h2{
                    padding-top: 10px;
                }
                .sub_title {
                    padding-top: 10px;
                    padding-bottom: 185px;
                    width: max-content;
                }
                .andmore_btn {}
                
            }
            #new_wrap {
                position: relative;
                padding-bottom: 50px;
                width: 100%;
                overflow: hidden;
                #new_items_wrap {
                    padding: 15px;
                    background:$color-white;
                    border-radius: 10px;
                    .swiper-wrapper {
                        position: relative;
                        width: max-content;
                        .new {
                            a {
                                overflow: hidden;
                                img {
                                    border-radius: 10px;
                                    width: 100%;
                                    height: 100%;
                                }
    
                                .item {
                                    .item_artist {}
                                    .item_title {}
                                    .item_discount_rate {}
                                    .item_price {}
                                    .item_ori_price {}
                                }
                            }
                        }
                        .new1 {}
                        .new2 {}
                        .new3 {}
                        .new4 {}
                        .new5 {}
                        
                    }
                }
                
                .swiper_btn_grp {
                    position: absolute;
                    right: 5%;
                    top:100%;
                    width: max-content;
                    z-index: 999;
                    .swiper-button-prev,
                    .swiper-button-next { 
                        width: 18px;
                        height: 18px;
                        position: absolute;
                        top: 0; left: 0;
                        color:$color-black-02;
                    }
                    .btn_line {
                        z-index: 999;
                        position: relative;
                        top:0; left: 0;
                        width: 20px; height: 20px;
                        transform: translate(125%,-118%);
                        &::after {
                            position: absolute;
                            display: block;
                            width: 2px;
                            opacity: 0.3;
                            background-color:$color-black-02;
                            height: 100%;
                            top: 0;
                            left: 50%;
                            content: "";
                        }
                    }
                    .swiper-button-prev {}
                    .swiper-button-next {left: 53px;}
                }
                .swiper-scrollbar {
                    position: absolute;
                    height: 3px;
                    width: 90%;
                    top:97%;
                    left: 0.5%;
                    z-index: 999;
                    background-color: $color-gray-04;
                    opacity: 0.5;
                    overflow: hidden;
                    .swiper-scrollbar-drag {
                        background: $color-black-02;
                    }
                }
            }
            
        }
        
    }
    /* --------------------------인기상품 */
    #hot {
        width: 100%;
        overflow: hidden;
        .menu_title {
            position: relative;
            @include col;
            h2 {
                padding-top: 120px;
                padding-bottom: 15px;
            }
            .sub_title {
                padding-bottom: 30px;
            }
            .item_list {
                
            }
        }
        #hot_wrap {
            position: relative;
            #hot_items_wrap {
                padding-bottom: 70px;
                padding-top:80px ;
                overflow: visible;
                .swiper-wrapper {
                    gap:20px;
                    .hot {
                        padding: 10px;
                        background:$color-white;
                        border-radius: 10px;
                        a {
                            overflow: hidden;
                            img {
                                border-radius: 10px;
                                width: 100%;
                                height: 100%;
                            }
                            .item {}
                        }
                    }
                    .hot3, .hot5, .hot6, .hot7 {
                        .pre_order_title{
                            opacity: 0;
                        }
                    }
                }
                .swiper-slide-active {
                    transform: scale(1.1);
                    transform-origin : bottom center;

                }
            }
            .swiper_btn_grp {
                position: absolute;
                width: 80px;
                right: 20%;
                top:96%;
                .btn_line {
                    position:relative;
                    top:50%; left: 50%;
                    width: 20px; height: 20px;
                    transform: translate(-50%,-65%);
                    &::after {
                        position: absolute;
                        display: block;
                        width: 1.5px;
                        opacity: 0.3;
                        background-color:$color-black-02;
                        height: 100%;
                        top: 0;
                        left: 50%;
                        content: "";
                    }
                }
                .swiper-button-prev,
                .swiper-button-next {
                    width: 18px; height: 18px;
                    color:$color-black-02;
                    position: absolute;
                    top: 50%;
                }
                .swiper-button-prev {
                    
                }
                .swiper-button-next {
                }
            }
            .swiper-scrollbar{
                position: absolute;
                top:95%;
                width: 45%;
                left: 50%;
                transform: translateX(-50%);
                background-color: $color-gray-04;
                overflow: hidden;
                .swiper-scrollbar-drag {
                    background: $color-black-02;
                    opacity: 0.5;
                }
            }
            
        }
        .andmore_btn {
            margin: 50px auto 0;
            
        }
    }
    /* --------------------------토스광고 */
    #add {
        margin: 120px auto;
        width: 100%;
        height: 200px;
        background: url(../images/toss_bg.jpg);
        @include col;
        justify-content: center;
        .toss_add {
            width: max-content;
            margin: 0 auto;
            a {
                @include row;
                gap:250px;
                p {
                    color:$color-white;
                }
                .add_left {
                    p:nth-child(2){
                        font-size:$font-size-30;
                        line-height: 130%;
                        font-weight:$font-weight-sb;
                        padding: 5px 0;
                    }
                    p:nth-child(3) {
                        font-weight:$font-weight-m;
                    }
                }
                .add_right {
                    p:nth-child(2) {
                        text-align: right;
                        opacity: 0.7;
                        padding-top:5px;
                    }
                }
            }
        }
    }
    /* --------------------------이벤트 */
    #event {
        @include col;
        padding: 0 160px 130px ;
        gap: 50px;
        .menu_title {
            h2 {
                text-align: center;
                padding-bottom: 20px;
            }
        }
        .event_wrap {
            padding-bottom: 20px;
            ul {
                @include row;
                gap: 10px;
                width: 100%;
                height: 500px;
                li {
                    &:hover{
                        &::before {
                            display: block;
                            width: 100%;
                            height: 100%;
                            content: "";
                            position: absolute;
                            top:0; left: 0;
                            background-color: $color-black-02;
                            opacity: 0.7;
                            mix-blend-mode:multiply;
                        }
                        animation: add-box 0.25s ease both;
                        position: relative;
                        a {
                            padding: 45px;
                            background-position: center;
                            background-size: cover;
                            .add_box * {color:$color-white;}
                            .add_box {
                                position: relative;
                                height: 100%;
                                z-index: 999;
                                opacity: 1;
                                display: flex;
                                flex-flow: column nowrap;
                                justify-content: space-between;
                                .event_text_wrap {
                                    @include col;
                                    gap: 25px;
                                    align-items: flex-start;
                                .event_type_top {
                                    font-weight:$font-weight-m;
                                    padding: 10px;
                                    width: max-content;
                                    border-radius: 5px;
                                    }
                                .event_title_text {
                                    font-size:$font-size-20;
                                    line-height: 150%;
                                    font-weight: $font-weight-sb;
                                }
                                }
                                .btn_wrap {
                                    @include col;
                                    align-items: flex-end;
                                    .btn {
                                        @include row; gap:20px;
                                    
                                }
                                }
                                
                        }
                        
                        }
                    }
                    border-radius: 20px;
                    height: 100%;
                    overflow: hidden;
                    a {
                        display: inline-block;
                        width: 100%; height: 100%;
                        .add_box {
                            opacity: 0;
                            .event_type_top{
                            }
                            .event_title_text {}
                            .btn {
                                button {
                                    img {}
                                }
                                img {}
                            }
                        }
                        
                    }
                }
                li:first-child  {
                    a {
                        background: url(../images/event_01.jpg);
                        background-position: center;
                        background-size: cover;
                        .add_box {
                            .event_type_top {
                                background-color:$color-gray-02;
                            }
                        }
                    }
                }
                li:nth-child(2) {
                    a {
                        background: url(../images/event_02.jpg);
                        background-position: center;
                        background-size: cover;
                    }
                }
                li:nth-child(3) {
                    a {
                        background: url(../images/event_03.jpg);
                        background-position: center;
                        background-size: cover;
                    }
                    
                }
                li:nth-child(4) {
                    a {
                        background: url(../images/event_04.jpg);
                        background-position: center;
                        background-size: cover;
                    }
                }
                li:nth-child(5) {
                    a {
                        background: url(../images/event_05.jpg);
                        background-position: center;
                        background-size: cover;
                    }
                }
                li:last-child {
                    a {
                        background: url(../images/event_05.jpg);
                        background-position: center;
                        background-size: cover;
                    }
                }
            }
        }
        .andmore_btn {}
    }
    /* --------------------------인스타, 공지 */
    #sns_news{
        width: fit-content;
        padding-bottom:120px;
        @include row;
        gap:  8vw;
        align-items: flex-start;
        justify-content: center;
        margin: 0 auto;
        #sns {
            display: flex;
            flex-flow: column nowrap;
            gap:30px;
            .sns_title_wrap {
                @include row;
                justify-content: space-between;
                align-items: flex-end;
                .menu_title {
                    p {
                        padding-top:15px;
                    }
                }
                .sns_icon {
                    display: flex; gap: 10px;
                }
            }
            .ins_wrap {
                @include col;
                gap: 15px;
                width: 100%;
                .sns_card {
                    width: 100%;
                    ul {
                        display: grid;
                        @include row;
                        gap:15px;
                        width: 100%;
                        li {
                            &:hover{
                                span {opacity: 1;}
                                &::before {
                                    border-radius: 10px;
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    content: "";
                                    position: absolute;
                                    top:0; left: 0;
                                    background: rgba($color: #333, $alpha: 0.8);
                                    mix-blend-mode:multiply;
                                    animation: ins-box 0.4s ease both;
                                }
                            }
                            position: relative;
                            cursor: pointer;
                            width: 200px;
                            height: 270px;
                            padding: 15px;
                            border-radius: 10px;
                            span {
                                font-weight:$font-weight-l;
                                opacity: 0;
                                position: relative;
                                z-index: 10;
                                color:$color-white;
                                font-size:$font-size-14;
                                text-align: left;
                                line-height: 200%;
                                box-sizing: border-box;
                                width: 100%;
                                display:-webkit-box;
                                -webkit-box-orient:vertical;
                                overflow: hidden;
                                -webkit-line-clamp:10;
                                em {
                                    font-weight: $font-weight-m;
                                    color:$color-white;
                                }
                            }
                        }
                        
                    }
                    
                }
                .ins1 {
                    padding-right: 20px;
                }
                .ins1:first-child li:first-child {background:url(../images/ins_img_01.jpg); @include bg-size; }
                .ins1:first-child li:nth-child(2) {background:url(../images/ins_img_02.jpg); @include bg-size;}
                .ins1:first-child li:last-child {background:url(../images/ins_img_03.jpg); @include bg-size;}
                .ins2 {
                    padding-left: 20px;
                }
                .ins2 li:first-child {background:url(../images/ins_img_04.jpg); @include bg-size;}
                .ins2 li:nth-child(2) {background:url(../images/ins_img_05.jpg);@include bg-size;}
                .ins2 li:last-child {background:url(../images/ins_img_06.jpg); @include bg-size;}
            }
            
            
        }
        #news {
            .menu_title {
                h2 {}
                .sub_title {
                    padding-top: 10px;
                    padding-bottom: 30px;
                }
            }
            .notice {
                dl {
                    padding-top: 20px;
                    @include col;
                    align-items: flex-start;
                    gap:25px;
                    width: 367px;
                    dt {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 100%;
                        font-size: $font-size-18;
                        padding-top:10px;
                        border-top: 0.3px solid rgba($color: #333, $alpha: 0.3);
                        padding-right:10px;
                        
                    }
                    .notice_date {
                        width: 100%;
                        @include row;
                        justify-content: space-between;
                        padding-right:30px;
                        dd {}
                    }
                }
                .notice_contents {}
                .winner {
                    @include dis-non;
                }
            }
        }
    }
}

footer {
    background:$color-gray-06;
    padding:50px 260px 100px;
    @include row;
    justify-content: space-between;
    .ftr_left {
        .business {
            padding-bottom: 40px;
            ul {
                @include row;
                li {
                    &::before {
                        @include aft;
                        background:$color-black-02;
                        width: 1.3px;
                        opacity: 0.5;;
                        right: 7px;
                        height: 85%;
                        top:8%;
                    }
                    position: relative;
                    padding-right: 15px;
                }
                li:last-child {
                    &::before {@include dis-non;}
                }
            }
        }
        .cs {
            @include col;
            align-items: flex-start;
            gap:10px;
            p {}
            p:first-child {
                font-size:$font-size-20;}
            p:nth-child(2) {font-size:$font-size-16;}
            p:last-child {
                font-size:$font-size-16;
                opacity: 0.5;
            }
        }
    }
    .ftr_right {
        .ftr_logo {
            padding-bottom: 40px;
            img {}
        }
        .adress {
            ul {
                li {
                    padding-bottom: 10px;
                    font-size:$font-size-16;
                    color:$color-black-03;
                }
            }
        }
    }
}