@charset "UTF-8";
body {
  background-color: #f2f2f2;
}

/* 상단 배너 */
#top_bnr {
  background-color: #222;
  max-width: 100%;
}
#top_bnr a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}
#top_bnr a p {
  color: #fff;
}

/* 헤더 */
header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
  height: 60px;
  /* 로고 */
}
header h1 a {
  width: 100%;
}
header h1 a img {
  width: 120px;
  height: 17px;
}
header {
  /* 카테고리 */
}
header .gnb ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 50px;
  font-size: 1rem;
  font-weight: 500;
}
header .gnb ul li .lnb {
  display: none;
}
header {
  /* 오른쪽 메뉴 */
}
header .right_menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 30px;
  /* 아이콘 메뉴들 */
}
header .right_menu .sub .search_box {
  display: none;
  /* 검색 바 */
}
header .right_menu .sub .search_box {
  /* 검색 이력 */
}
header .right_menu .language {
  /* 선택됨 */
}
header .right_menu .language .selected {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
header .right_menu .language {
  /* 옵션들 */
}
header .right_menu .language .select {
  display: none;
}
main {
  /* --------------------------배너 */
}
main #banner {
  background-color: #fff;
}
main #banner #event_add {
  padding: 30px 50px;
}
main #banner #event_add .swiper-wrapper {
  width: 1600px;
  height: 736px;
}
main #banner #event_add .swiper-wrapper .evt_add {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 60px;
}
main #banner #event_add .swiper-wrapper .evt_add .bnr_img {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
}
main #banner #event_add .swiper-wrapper .evt_add .bnr_info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 100px;
  align-items: flex-start;
  padding-bottom: 120px;
}
main #banner #event_add .swiper-wrapper .evt_add .bnr_info dl .event_type {
  font-size: 1rem;
  color: #333;
  font-weight: 500;
  padding-bottom: 15px;
}
main #banner #event_add .swiper-wrapper .evt_add .bnr_info dl .artist {
  font-size: 1.625rem;
  color: #6E6E6E;
  font-weight: 500;
  padding-bottom: 12px;
}
main #banner #event_add .swiper-wrapper .evt_add .bnr_info dl .event_title {
  font-size: 1.625rem;
  color: #222;
  font-weight: 500;
  padding-bottom: 15px;
}
main #banner #event_add .swiper-wrapper .evt_add .bnr_info dl .date {
  font-size: 1rem;
  color: #777;
}
main #banner #event_add .swiper-wrapper .evt_add .bnr_info .andmore_btn {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  border-radius: 60px;
  background: #333;
  color: #fff;
}
main #banner #event_add .swiper-wrapper .evt_add .bnr_info .andmore_btn img {
  width: 12px;
  height: 12px;
}
main #banner #event_add .swiper-wrapper .evt1 .bnr_img {
  background-image: url(../images/banner_yves.jpg);
}
main #banner #event_add .swiper-wrapper .evt2 .bnr_img {
  background-image: url(../images/banner_bnd.jpg);
}
main #banner #event_add .swiper-wrapper .evt3 .bnr_img {
  background-image: url(../images/banner_ifeye.jpg);
}
main #banner #event_add .swiper-wrapper .evt4 .bnr_img {
  background-image: url(../images/banner_lucy.jpg);
}
main #banner #event_add .swiper-slide-prev,
main #banner #event_add .swiper-slide-next {
  opacity: 0.2;
}
main #banner #event_add .swiper-slide-prev .bnr_info,
main #banner #event_add .swiper-slide-next .bnr_info {
  display: none !important;
}
main #banner #event_add .swiper-slide-active .bnr_img {
  width: 78% !important;
}
main #banner #event_add .add_btn {
  background: #fff;
  position: absolute;
  z-index: 100;
  width: 124px;
  height: 74px;
  right: 28%;
  bottom: 30px;
  border-top-left-radius: 20px;
}
main #banner #event_add .add_btn span::after {
  display: block;
  content: "";
  position: relative;
  top: 42%;
  left: 63%;
  opacity: 0.7;
  background: #777;
  width: 1.5px;
  height: 25%;
}
main #banner #event_add .add_btn .swiper-button-prev,
main #banner #event_add .add_btn .swiper-button-next {
  transform: translateY(90%);
  width: 10px;
  height: 18px;
  background: #fff;
  color: #777;
  margin-left: 40px;
  margin-right: 10px;
}
main #banner #event_add .swiper-pagination {
  width: 56px;
  height: 26px;
  top: 73.5%;
  left: 86.5%;
  transform: translate(-50%, -50%);
  background: #f6f6f6;
  border-radius: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
main #banner #event_add .swiper-pagination::before {
  display: block;
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 46%;
  background: #f6f6f6;
  content: "";
}
main #banner #event_add .swiper-pagination .swiper-pagination-current {
  color: #666;
}
main #banner #event_add .swiper-pagination .swiper-pagination-current::after {
  display: block;
  width: 10%;
  height: 100%;
  position: absolute;
  top: 26%;
  left: 46%;
  color: #666;
  opacity: 0.5;
  content: "/";
}
main #banner #event_add .swiper-pagination .swiper-pagination-total {
  color: #666;
  opacity: 0.5;
}
main {
  /* --------------------------신제품 */
}
main {
  /* --------------------------인기상품 */
}
main {
  /* --------------------------토스광고 */
}
main {
  /* --------------------------이벤트 */
}
main {
  /* --------------------------인스타, 공지 */
}

/*# sourceMappingURL=main.css.map */
